.places > h1 {
    font-size: 30px;
    padding: 40px 0 0 20px;
}

.places > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places article {
    font-size: 30px;
    text-align: center;
    flex: 0 0 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
}